.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{

    background-color: rgb(133, 133, 133);

}

#principal{

    margin-top: 70px;
    display: flex;
    justify-content: center;

}

.subDiv{

    height:80px;
    width:80px;

    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;

    float: left;
    background-color: aquamarine;
    border-style: solid;
    
  

}

.divsOrdenados{

    margin-top: 70px;
    display: flex;
    justify-content: center;
}

#button{
    position: fixed;
    bottom: 0;
    margin-bottom: 20%;
    margin-left: 20%;
    width: 40%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: none;

}

#button span{
    transition: .4s ease-in all;
    position: absolute;
    left: 30%;
    top: 8px;
}

#button:hover span{
    left: 10px;
}

#button .icono{
    top: 8px;
    position: absolute;
    transition: .3s ease-in-out all;
    left: 0;
    opacity: 0;
}

#button:hover .icono{
    left:90%;
    opacity: 1;
}